@layer reset, color, transparent;

.button {
  padding: 0 10px;
  min-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
  transition: var(--transition-fast) ;

  @layer color {
    &--red {
      background-color: var(--color-button-red);
    }

    &--gray {
      background-color: var(--color-button-gray);
    }

    &:hover {
      opacity: .8;
    }
  }

  @layer transparent {
    &--transparent {
      background-color: transparent;
      color: transparent;
    }
  }
}
