.player {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    padding: 5px;
    color: var(--color-player-gray);
  }

  &__prev {
    svg {
      transform: rotate(180deg);
    }
  }
}