// глобальные переменные
:root {
  --color-white: #fff;
  --color-gray: #3c3c4308;
  --color-gray-active: #e6e6e7;
  --color-font: #000000e0;
  --color-button-gray: #f2f2f2;
  --color-button-red: #d60017;
  --color-border-gray: #bbb;
  --global-width-sidebar: 270px;
  --global-height-musicbar: 54px;
  --global-max-width-content-with-nav: 1680px;
}